*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    height: 100%;
    background-size: cover;
    background-position: center center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 10;


}
.nav{
    display: flex;
    list-style: none;
    background-color: green;
    height: 34px;
}
.nav  li a{
    text-decoration: none;
    color: white;
}
.nav  li{
    padding: 7px;
    width: 100px;
    margin: auto;
}
.nav  li i{
    margin-right: 8px;
}
.nav  li:hover{
    background-color: rgb(231, 69, 19);
}
.nav  li:visited{
    background-color: rgb(52, 34, 218);
}
.box{
    font-family: sans-serif;
    width: 900px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}
#para{
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    color: black;
    /* text-align: center;
    width: 500px; */
}
h1{
    margin-bottom: 10px;
    font-size: 40px;
    border-bottom: 3px solid white;
    font-family: cursive;
}
img{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 60px;
}
span{
    font-size: 40px;
}
