<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Password Reset</title>
    <style>
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(circle at -9.06% 55.17%, #ffd031 0, #ffd91c 10%, #ffe200 20%, #ffea00 30%, #fdf100 40%, #e6f810 50%, #cefe2a 60%, #b3ff3f 70%, #96ff55 80%, #71ff6a 90%, #39ff81 100%);
}
h3{
    color: white;
    font-size: 180%;
    font-style: italic;
}

    </style>
</head>
<body>
<div class="box">
    <div style=" background-image: radial-gradient(circle at -9.06% 55.17%, #0065ff 0, #005eff 10%, #0055ff 20%, #0048ff 30%, #0035ff 40%, #2010f8 50%, #7300e5 60%, #9a00cf 70%, #b600b8 80%, #ca009f 90%, #d80085 100%); border: 4px solid blue; box-shadow: 2px 2px 2px 5px red; padding: 5%;">
<h3>We will email you to reset your password</h3>
<form  action="/otp" method="post">
    <input type="email" style="width: 90%; padding: 3%;" placeholder="Enter email id link with your account" name="email">
    <div>
    <button style="margin-left:38%; margin-top: 8%; background-color: rgb(32, 31, 31); color: white; padding: 2% 5%;">Submit</button>
</div>
</form>
</div>
</div>
</body>
</html>